/************************* GLOBAL STYLES *************************/
*{
    transition: all 1s;
}
ul { margin: 0; padding: 0;}
a { color: #222;}
a:hover { color: #f6a1b5; text-decoration: none;}
img {
    width: 100%;
}
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/custom/Avenir-Medium.eot');
    src: url('../fonts/custom/Avenir-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/custom/Avenir-Medium.woff') format('woff'),
    url('../fonts/custom/Avenir-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: 'Avenir';
    overflow-x: hidden;
}
.cta-primary {
    background: #f5e3e7;
    border-radius: 2px;
    color: #444;
    display: inline-block;
    text-transform: uppercase;
    padding: 10px 20px;
    margin: 10px 0;
}
.cta-primary:hover {
    background: #f6a1b5;
    color: #fff;
}
.cta-transparent {
    padding: 10px 20px 10px 0;
    border-right: 2px solid #000;
    text-transform: uppercase;
    margin: 10px 0;
    display: inline-block;
}
.cta-transparent:hover {
    border-right: 2px solid #f6a1b5;
}

main section { margin: 20px 0; clear: both}
main section .row { padding: 20px; box-sizing: border-box;}
/*main section:hover .row{ box-shadow: 0px 0px 5px #888;}*/

/********************HEADER STYLE********************/
.header-top { background: #f2f6f5; height: 40px;}
.header-top ul {display: inline;}
.header-top ul li { display: inline-block; list-style: none; margin: 0 10px;}
.header-top ul.social-icons { width: 190px;}
.header-top ul.social-icons li a { color: #222; font-size: 1.7rem; padding: 10px; display: inline-block;}
.header-top ul.social-icons li a:hover { color: #2e6da4;}
.header-top ul.top-links { padding: 10px; }

.logo_container {  position: relative; top: -40px; margin-bottom: -90px; width: 250px;}
.logo_wrap { position: relative;}

.logo_wrap img { max-width: 193px;}

.navbar-default {
    background: none;
    border: none;
    margin-top: 13px;
}

.navbar-default a {
    text-transform: uppercase;
}

.navbar-default .navbar-toggle {
    background: #f6a1b5;
    border-color: #f6a1b5;
}

.navbar-default .navbar-toggle .icon-bar {
    background: #fff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background: none;
}

.navbar-default .navbar-nav>li>a {
    color: #222;
    font-size: 1.4rem;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background: #f6a1b5;
    border-color: #f6a1b5;
}
ul.navbar-nav a:hover {
    color: #f6a1b5 !important;
}
.carousel .carousel-control {
    background: none;
    opacity: .0;
}
.carousel:hover .carousel-control {
    opacity: .5;
}
.about-component-wrapper {
    margin: 60px 0;
}

.about-component-wrapper .about-component {
    background: #f8edef;
}
.about-component-wrapper .about-component:hover {
    background: #f7dce1;
}

.about-component-wrapper .about-component .image-wrapper {
    width: 35%;
}

.about-component-wrapper .about-component .description-wrapper {
    padding: 45px;
    width: 65%;
}

.about-component-wrapper .about-component .description-wrapper h1.heading-1 {
    text-transform: uppercase;
}

.about-component-wrapper .about-component .description-wrapper p {
    margin: 20px 0 20px;
}



/*Makeovers Thumbnail Component*/
.thumbnails {
    display: inline-block;
    width: 100%;
    margin: 0 0 10px 0;
}
.thumbnails li {
    width: auto;
    float: left;
    list-style: none;
    margin: 0px 20px 0 0;}
.featured-image {}

.services-component .heading-wrap {
    border-bottom: 1px solid #a7a7a7;
    margin: 20px 0;
}
.services-component .heading {
    border: 1px solid #a7a7a7;
    padding: 10px 50px;
    display: inline-block;
    position: relative;
    top: 1px;
}

/*Footer CSS starts here*/
.footer-component { 
    background: #322f31;
    overflow: auto;
}
.footer-component a, .footer-component{ color: #fff }
.footer-component .row-first {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}
.footer-component .footer-logo img {
    max-width: 230px;
}
.footer-component .footer-social {
    margin: 50px 0 0 0;
    display: inline-block;
    float: right;
}
.footer-component .footer-social li {
    display: inline;
    margin: 0px 10px;
}
.footer-component .footer-social li a, .footer-component .footer-social li .fa {
    color: #fff;
    font-size: 2rem;
}
.row-second .quick-links { margin: 30px 0; }
.row-second .quick-links li { 
    display: inline-block;
    margin: 10px 0px;
    width: 25%; }
.row-second .quick-links li a { color: #fff; }
.row-second .quick-links li a:hover { color: #f0d1cf; text-decoration: underline;}
.footer-component .email-field { float: right; }
.footer-component .email-field input{ height: 30px; margin: 5px 0; text-indent: 5px; color: #888;}
.footer-component .email-label {
    margin: 40px 0 0;
    font-size: 1.2rem;
    display: block;
    text-transform: uppercase;
    font-weight: normal;
}
.row-third {
    margin: 0px 0 20px 0;
}
.footer-component .email-field .button {
    padding: 9px;
    background: #f0d1cf;
    color: #364245;
    position: relative;
    right: 5px;
    top: 0px;
    font-size: 1.2rem;
    cursor: pointer;
}
.copyright { font-size: 0.9em; }
.termscondition { float: right; }






/*Responsive behaviour handling*/
@media (max-width: 425px) {
    
    .footer-component .email-field input { width: 86%; }
    .row-second .quick-links li { width: 100%; }
    .footer-logo, .footer-component .footer-social{ display: block; text-align: center; float: none; }
}

@media (max-width:768px) {
    .header-top ul.top-links, .header-top ul.social-icons { display: none }
    .about-component-wrapper .about-component .image-wrapper,
    .about-component-wrapper .about-component .description-wrapper { width: 100%;}
    .about-component-wrapper .about-component, section { padding: 0 0 20px 0;}
    .banner-container, .banner-container .col-lg-12 {
        width: 100%;
        padding: 0;
    }
    .carousel .carousel-control { display: none; }
    .row-third, .termscondition{ text-align: center; float: none; margin: 10px 0; }
    .footer-component .email-field { float: none }
}
@media (max-width:1024px) {
    .navbar-default { margin-top: 50px; }
    .about-component-wrapper .about-component .description-wrapper {padding: 10px 30px;}
}

@media (min-width:1440px) {
    .container {
        width: 90%;
    }
}

@media (min-width:2560px) {
    .container {
        width: 95%;
    }
}